
snippet cp

#include <bits/stdc++.h>

using namespace std;
using ll = long long;
#define fi first
#define se second
#define pb push_back
#define sz size()
#define endl '\n'
#define mod 1000000007
#define MIN -1000000007
#define __HUYNH_VAN_THINH__ signed main()

void solve_problem(){
	
}

__HUYNH_VAN_THINH__ {
	cin.tie(0) -> sync_with_stdio(0);
	#ifndef ONLINE_JUDGE
	freopen("input.txt", "r",stdin);
	#endif
	solve_problem();
	
}

endsnippet


